このjupyter notebookは，以下の論文3章における日本におけるSci-Hub利用状況分析に用いたプログラムです。

大谷周平, 坂東 慶太. 論文海賊サイト Sci-Hub を巡る動向と日本における利用実態. 情報の科学と技術.2018, 68(10).  https://doi.org/10.18919/jkg.68.10_513

Sci-Hub 2017年ダウンロードデータおよびImpactStory社によるUnpaywallのデータセットを利用して分析しています。

Sci-Hub ダウンロードログデータ
Sci Hub on Twitter: Sci-Hub download log for 2017 year https://twitter.com/Sci_Hub/status/954095639859814402

Unpaywallのデータセット
Priem, Jason and Piwowar, Heather. (2018) The Unpaywall Dataset. DOI: https://doi.org/10.6084/m9.figshare.6020078

必要なライブラリのインポート

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import folium
import sqlite3
import math
import matplotlib
import matplotlib.pyplot as plt
import datetime as dt
import pickle
import matplotlib.font_manager
sns.set(font='IPAexGothic')

3.2.5
地理情報の可視化

In [3]:
dbname = "data_anlytics.db"
conn = sqlite3.connect(dbname)
conn.row_factory = sqlite3.Row
c = conn.cursor()

In [4]:
df=pd.read_sql_query("select * from 'scihubjapanoadoi'", conn, index_col=["date"], parse_dates=["date"])

DatabaseError: Execution failed on sql 'select * from 'scihubjapanoadoi'': no such table: scihubjapanoadoi

In [5]:
df_map=df[["doi","latitude","longitude"]]

In [6]:
df_map=df_map.groupby(["latitude","longitude"],as_index=False).count()

In [7]:
m = folium.Map(location=[35.55, 139.49], zoom_start=5)

In [1]:
for i, r in df_map.iterrows():
    if r['latitude'] != 'N/A':
        folium.CircleMarker(location=[float(r['latitude']), float(r['longitude'])],radius=math.sqrt(math.sqrt(r['doi']))).add_to(m)#円の大きさの調整のため、4重根を
m

NameError: name 'df_map' is not defined